*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(42, 93, 90);
}
.a{
    width: 636px;
    background-color: rgb(49, 19, 19);
    color: rgb(255, 255, 255);
font-size: 64px;
font-weight: 700;
line-height: 77px;
text-align: center;
margin: 32px auto;
}
.ota{
    width: 1000px;
    box-sizing: border-box;
border: 10px solid rgb(255, 6, 6);
background: rgb(0, 0, 0);
margin: 40px auto;
padding: 45px;
}
.bola{
background-color: rgb(31, 232, 183);
padding: 54px;
}